@use '../abstracts/variables' as *;

#grid {
    border: 2px solid #333;
    width: $grid-size;
    height: $grid-size;
}

@media (orientation: portrait) {
    #grid {
        width: 100vw;
        height: 100vw;
    }
}
